@import '../../styles/styles.css';
@import '../../common/styles/item-grid.css';

channellist {
  #latest {
    background-color: #212121;
    padding: 8px;
  }
  #section-header {
    h3 {
      font-size: calc(32/16)rem;
      font-weight: 400;
    }
    h1 {
      font-weight: 300;
      text-transform: uppercase;

      &.docu-series {
        color: var(--channel-docu-series);
      }
      &.radio-tv-film {
        color: var(--channel-radio-tv-film);
      }
      &.music {
        color: var(--channel-music);
      }
      &.comedy {
        color: var(--channel-comedy);
      }
      &.lifestyle {
        color: var(--channel-lifestyle);
      }
    }
  }
  .item {
    padding: var(--sm-pad);
    margin: 0;
    box-shadow: none;
    h1 {
      font-size: calc(24/16)rem;
    }
    .poster {

    }
    .card-info {

    }
  }
}
