<section ng-if="vm.activated">
	<header id="section-header">
		<h3>channel:</h3>
		<h1 class="channel-title {{::vm.channel_title}}">{{::vm.channel_title}}</h1>
	</header>
	<div class="items" layout="row" layout-align="space-between center" layout-wrap>
		<md-card class="item" flex="100" flex-gt-md="50" flex-gt-lg="33" ng-repeat="video in ::vm.results track by video.id">
			<div class="item-wrapper">
				<div class="poster" ng-style="{ 'background-image': 'url(' + video.fragments['video.poster'].value.views.column.url +')' }"></div>
				<md-card-content class="card-info">
					<h1 class="item-title">
						<a href="">{{::video.fragments['video.title'].value[0].text}}</a>
					</h1>
					<p class="item-intro">
						{{::video.fragments['video.shortlede'].value[0].text | characters:80: false}}
					</p>
				</md-card-content>
				<item-widgets></item-widgets>
			</div>
		</md-card>
	</div>
</section>
<div ng-if="!vm.activated">
	Loading...
</div>
