*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing:border-box;
  font-size:100%;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eee;
  font-size:1rem;
}

.flex {
  display:flex;
}
