.toolbar {
  height: 65px;
  background-color: inherit;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.toolbar .tool-links,
.toolbar .logo {
  display: inline-block;
}
.toolbar .logo {
  color: #F5F5F5; /* lightTextColor */
  /*margin-right: 50%;*/
}
.toolbar .tool-links span {
  color: #F5F5F5; /* lightTextColor */
  font-size: 1.6rem;
}
