main,
header,
footer,
article,
section,
aside,
details,
summary {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  /*max-width: var(--big-break);
  padding: 0 var(--md-pad) var(--md-pad);*/
}

article {
  margin-bottom: var(--md-pad);
  max-width: calc(60% - 1rem);
}

aside {
  margin-bottom: var(--md-pad);
  max-width: calc(40% - 1rem);
}

section {
  /*margin-bottom: var(--md-pad);*/
  max-width: 100%;
}

footer {
  border-top: .1rem solid var(--trans-light);
  max-width: 100%;
  padding: 1rem 0;
  text-align: center;
}

hr {
  border-top: .1rem solid var(--trans-light);
  display: block;
  margin-bottom: var(--md-pad);
  width: 100%;

}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media (--mobile) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }

  img {
    margin-right: var(--md-pad);
  }
}
