body {
  color: var(--black);
  font-family: var(--sans-serif);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
}

p {  margin: 0 0 var(--md-pad) }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  margin: var(--lg-pad) 0 var(--md-pad);
}

h1 {
  /*border-bottom: var(--border) var(--trans-light);*/
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  margin: var(--md-pad) 0 var(--xs-pad);
}

h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  margin: var(--md-pad) 0 var(--xs-pad);
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  margin: var(--md-pad) 0 var(--xs-pad);
}

h6 {
  color: var(--grey);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  margin: var(--md-pad) 0 var(--xs-pad);
}

small {  color: var(--grey) }

pre {
  background: var(--light-grey);
  color: var(--black);
  display: block;
  font-family: var(--monospace);
  font-size: 1.4rem;
  margin: var(--md-pad) 0;
  padding: var(--md-pad);
  word-break: break-all;
  word-wrap: break-word;
}

code {
  background: var(--light-grey);
  color: var(--black);
  font-family: var(--monospace);
  font-size: 1.4rem;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: var(--primary-color);
  transition: var(--transition);
}

a:hover,
a:focus {  text-decoration: none }

dl {  margin-bottom: var(--md-pad) }

dd {  margin-left: 4rem }

ul,
ol {
  margin-bottom: 0.8rem;
  padding-left: 2rem;
}

blockquote {
  border-left: .2rem solid var(--primary-color);
  font-family: var(--serif);
  font-style: italic;
  margin: var(--md-pad) 0;
  padding-left: var(--md-pad);
}

figcaption {  font-family: var(--serif) }
