<md-toolbar class="toolbar">
  <div class="md-toolbar-tools">
    <md-button class="menu-button" hide-gt-md ng-click="vm.openLeftMenu()" aria-label="Show Menu items">
      <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
    </md-button>
		<div class="logo">
      <h1 class="brand-name middle paper-font-display2 app-name">tomorrow<span>pictures.tv</span></h1>
		</div>
    <!-- fill up the space between left and right area -->
		<span flex></span>
    <md-button>
      <a ui-sref="about">Button</a>
    </md-button>
  </div>
</md-toolbar>
