sidenav {
  height: 100vh;
}
.md-sidenav-left {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.md-sidenav-left {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  background-color: #1d1d1d;
}

.md-sidenav-left.md-locked-open {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
