@import '../../styles/styles.css';

featured-video {
	display: block;
	color: inherit;
	.featured-video {
		@mixin aspect-ratio 16, 9;

		&:before {
			@media (--large) {
		    padding-top: 0;
			}
		}
		#section-header {
	    h3 {
	      font-size: calc(32/16)rem;
	      font-weight: 400;
	    }
	    h1 {
				color: var(--brandRed);
	      font-weight: 300;
	      text-transform: uppercase;
	    }
	  }
		.videogular-container {
			@media (--large) {
				position: relative;
				height: calc(100vh - 125px);
				padding: 0;
			}
		}
	}
}
