html,
body,
button {
  @mixin font-common-base;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  padding: 0;
}

main,
header,
footer,
article,
section,
aside,
details,
summary {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

/*main {
  max-width: 1600px;
  margin: 0 auto;
}*/

article {
  margin-bottom: var(--md-pad);
}

aside {
  margin-bottom: var(--md-pad);
}

section {
}

footer {
  border-top: .1rem solid var(--trans-light);
  max-width: 100%;
  padding: 1rem 0;
  text-align: center;
}

hr {
  border-top: .1rem solid var(--trans-light);
  display: block;
  margin-bottom: var(--md-pad);
  width: 100%;

}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media (--mobile) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }
}
