:root {
  /* Font Families*/
  --sans-serif:                    'Lato', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  --serif:                         Georgia, Times, 'Times New Roman', serif;
  --heading:                       'Lato', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  --monospace:                     Menlo, Monaco, Consolas, 'Courier New', monospace;

  /* Defaults */
  --root-box-sizing:               border-box;
  --root-cursor:                   default;
  --root-font-family:              var(--sans-serif);
  --root-font-size:                1rem;
  --root-line-height:              1.625;
  --root-text-rendering:           optimizeLegibility;

  /* Typography */
  --font-display-4:  calc(112/16)rem;
  --font-display-3:  calc(56/16)rem;
  --font-display-2:  calc(45/16)rem;
  --font-display-1:  calc(34/16)rem;
  --font-headline:   calc(24/16)rem;
  --font-title:      calc(20/16)rem;
  --font-subhead:    var(--root-font-size);
  --font-body:       calc(14/16)rem;
  --font-caption:    calc(12/16)rem;
  --font-button:     calc(14/16)rem;

  --anchor-text-decoration:        none;
  --form-element-background-color: transparent;
  --form-element-min-height:       var(--root-line-height) * 1em;
  --media-element-vertical-align:  middle;
  --monospace-font-family:         var(--monospace);
  --nav-list-style:                none;
  --selection-background-color:    #b3d4fc;
  --selection-text-shadow:         none;
  --small-font-size:               75%;
  --big-font-size:                 125%;
  --table-border-collapse:         collapse;
  --table-border-spacing:          0;
  --textarea-resize:               vertical;

  --br:                            0;
  --xs-pad:                        .4rem;
  --sm-pad:                        .8rem;
  --md-pad:                        1rem;
  --lg-pad:                        1.25rem;
  --xlg-pad:                       2.5rem;
  --transition:                    .25s ease;
  --border:                        .1875rem solid;

  --small-break:                   40rem;
  --big-break:                     76.8rem;

  --primary-color:                 #1271db;
  --red:                           #ff4136;

  --white:                         #fff;
  --light-grey:                    #efefef;
  --silver:                        #ccc;
  --grey:                          #777;
  --black:                         #444;

  --brandWhite:                    #ecf0f1;
  --brandRed:                      #c0392b;
  --brandDarkGrey:                 #212121;
  --brandBlack:                    #111111;
  --channel-docu-series:           #0090d9;
  --channel-radio-tv-film:         #AC89D0;
  --channel-music:                 #f35958;
  --channel-comedy:                #FDE74C;
  --channel-lifestyle:             #42b078;

  --trans-light:                   rgba(0, 0, 0, .2);
  --trans-mid:                     rgba(0, 0, 0, .56);
  --trans-dark:                    rgba(0, 0, 0, .87);

  --sidenav-default-width:         120px;
  --sidenav-min-space:             56px;
}

@custom-media    --mobile (width <= 640px);
@custom-media    --small (width >= 641px);
@custom-media    --medium (width >= 960px);
@custom-media    --large (width >= 1200px);

@custom-selector :--any-link :link, :visited, :active;
@custom-selector :--hover-link :hover, :focus;
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
